{% extends "layout.html" %}

{% block body %}
<div style='padding: 1em'>
    <h2>Active Listings</h2>
    <h6> Categories 
        {% for category in all_categories %}
            <a href="category/{{category.category}}" class="badge badge-primary"> {{category.category}} </a>
        {% endfor %}
    </h6>
    <div>
        {% for listing in listings %}
            {% if listing.active == True %}
            <div onclick="window.open('{% url "active_listing" listing.id %}', '_self');" class="card" style="width: 18rem; margin: 0px 0px 5px;">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ listing.name}}
                    </h5>
                    {% if listing.category %}
                        <a href="{{listing.category}}" class="badge badge-primary"> {{listing.category}} </a>
                    {% endif %}
                    <img class="card-img-top" src="{{ listing.url}}">
                    <p class="card-text">Description: {{ listing.description }}</p>
                    <p class="card-text">Starting bid: {{ listing.starting_bid }}</p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}