{% extends "layout.html" %}

{% block body %}
<div style='padding: 1em'>
    <h2>Active Listings</h2>
    <h6> Categories 
        {% for category in all_categories %}
            <a href="category/{{category.category}}" class="badge badge-primary"> {{category.category}} </a>
        {% endfor %}
    </h6>
    <div class="d-flex flex-wrap">
        {% for listing in listings %}
            {% if listing.active == True %}
            <div onclick="window.open('{% url 'active_listing' listing.id %}', '_self');" class="card m-2" style="width: 18rem;">
                <img class="card-img-top" src="{{ listing.url }}" alt="{{ listing.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.name }}</h5>
                    {% if listing.category %}
                        <a href="category/{{ listing.category }}" class="badge badge-primary">{{ listing.category }}</a>
                    {% endif %}
                    <p class="card-text">Description: {{ listing.description }}</p>
                    <p class="card-text">Starting bid: {{ listing.starting_bid }}</p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
