{% extends "layout.html" %}

{% block body %}
<div style='padding: 1em'>
    <h1>My Watchlist</h1>
    <div class="d-flex flex-wrap">
        {% for listing in all_watchlists %}
            <div onclick="window.open('{% url 'active_listing' listing.listing_item.id %}', '_self');" class="card m-2" style="width: 18rem;">
                <img class="card-img-top" src="{{ listing.listing_item.url }}" alt="{{ listing.listing_item.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.listing_item.name }}</h5>
                    <p class="card-text">Description: {{ listing.listing_item.description }}</p>
                    <p class="card-text">Starting bid: {{ listing.listing_item.starting_bid }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
